.app {
  max-width: var(--desktop-card-width);
  width: 100%;
  user-select: none;
}

.app header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
  margin-bottom: 2.5em;
}

.app .search {
  border-radius: var(--interface-border-radius);
}

.theme_toggler {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}

.theme_toggler .theme_title {
  text-transform: uppercase;
  font-weight: bold;
}

[data-theme-dark] path {
  fill: var(--light-theme-text-regular); 
}

[data-theme-light] {
  fill: var(--dark-theme-text-regular);
}

.theme_toggler:hover {
  color: var(--light-theme-toggler-hover-color);
}

.theme_toggler:hover [data-theme-dark] path {
  fill: var(--light-theme-toggler-hover-color);
}

.dark .theme_toggler:hover {
  color: var(--dark-theme-toggler-hover-color);
}

.dark .theme_toggler:hover [data-theme-light] {
  fill: var(--dark-theme-toggler-hover-color);
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-theme-main-interface);
  padding: 0.5em 0.6em 0.5em 2em;
  cursor: pointer;
}

body.dark .search {
  background-color: var(--dark-theme-main-interface);
}

.search_input {
  flex-basis: 65%;
}

.search_btn {
  background-color: var(--accent-color);
  padding: 0.75em 1.5em;
  color: #fff;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
}

.search_btn:hover {
  background-color: var(--search-btn-hover);
}

.search .icon {
  margin-right: 1em;
  transform: translateY(0.3em);
}

.user {
  display: grid;
  grid-template-areas:
  "icon short-info"
  ". bio"
  ". statistics"
  ". links";
  grid-template-columns: 10em 1fr;
  grid-template-rows: 4em;
  grid-row-gap: 2em;
  margin-top: 2em;
  padding: 3em;
  border-radius: var(--interface-border-radius);
  background-color: var(--light-theme-main-interface);
}

.user .user_icon {
  grid-area: icon;
  max-width: 117px;
}

.short_info {
  grid-area: short-info;
  display: flex;
  justify-content: space-between;
}

.bio {
  grid-area: bio;
  word-break: break-all;
}

.statistics {
  grid-area: statistics;
  padding: 1em 2em;
  background-color: var(--light-theme-background);
  border-radius: var(--interface-border-radius);
}

.links {
  grid-area: links;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

body.dark .user {
  background-color: var(--dark-theme-main-interface);
}

.user .user_icon img {
  border-radius: 50%;
}

.user .login {
  color: var(--accent-color);
}

body.dark .statistics {
  background-color: var(--dark-theme-background);
}

.statistics .inner {
  display: flex;
  justify-content: space-between;
}


.links .link {
  display: flex;
  gap: 1em;
}

.not_available {
  opacity: 75%;
}

.preloader {
  max-width: 65px;
  max-height: 65px;
}

@media screen and (max-width: 768px) {
  .app {
    max-width: var(--tablet-card-width);
  }

  .user {
    grid-template-areas:
      "icon short-info"
      "bio bio"
      "statistics statistics"
      "links links";
    grid-template-rows: 8em;
    padding: 1.5em;
  }

  .short_info {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
  }

  .search_input {
    flex-basis: 60%;
  }
}

@media screen and (max-width: 375px) {
  .app {
    max-width: var(--mobile-card-width);
  }

  .links {
    grid-template-columns: 1fr;
  }

  .search {
    padding: 0.5em 0.5em 0.5em 1em;
  }

  .search_input {
    flex-basis: 65%;
  }

  .search_btn {
    padding: 0.75em 1em;
    font-size: 0.85rem;
  }
}
