/* Dark theme variables */
:root {
  --dark-theme-text-regular: #FFFFFF;
  --dark-theme-text-major: #FFFFFF;
  --dark-theme-background: #141D2F;
  --dark-theme-main-interface: #1E2A47;
}

/* Light theme variables */
:root {
  --light-theme-text-regular: #697C9A;
  --light-theme-text-major: #2B3442;
  --light-theme-background: #F6F8FF;
  --light-theme-main-interface: #FEFEFE;
}

/* Common variables */

:root {
  --accent-color: #0079FF;
  --alert-color: #F74646;
}